---
import { getCollection } from "astro:content";
import PageLayout from "../layouts/PageLayout.astro";
import BlogPostsList from "../components/BlogPostsList.astro"
const posts = await getCollection('blog');
---
<style></style>
<PageLayout title="Blog Posts" description="List of blog posts">
    <main>
        <h2>All Blog Posts</h2>
        <BlogPostsList posts={posts} />
    </main>
</PageLayout>
