---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
const posts = await getCollection('blog');
---

<BaseLayout>
    <p>Something</p>
    <ul>
        {
            posts.map((post: any) => (
                <li>
                    <a href={`/posts/${post.id}/`}>{post.data.title}</a>
                </li>
            ))
        }
    </ul>
</BaseLayout>
