---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="Rajdeep's Home Page" description="About Rajdeep Dhillon's software development journey">
	<h2>My awesome blog subtitle</h2>
	<a href="/posts/post-1">something</a>
</PageLayout>
