---
import { getCollection } from "astro:content";
import PageLayout from "../layouts/PageLayout.astro";
import BlogPostsList from "../components/BlogPostsList.astro";
import { Content as IntroContent } from "../misc-content/intro.md";

const posts = await getCollection("blog").then((posts) => posts.slice(0, 3));
---

<style></style>
<PageLayout
	title="Rajdeep's Home Page"
	description="About Rajdeep Dhillon's software development journey"
	pageType="home"
>
	<main>
		<section class="prose prose-neutral dark:prose-invert max-w-none">
			<IntroContent />
			<address class="not-italic">
				You can explore my GitHub at <a
					href="https://github.com/rdhillon1016"
					target="_blank">github.com/rdhillon1016</a
				>. Further, you can reach me at <a href="mailto:some@some.com"
					>some@some.com</a
				>
			</address>
		</section>
		<section class="mt-5">
			<h2 class="text-2xl font-bold">Recent Blog Posts</h2>
			<BlogPostsList posts={posts} />
			<a href="/blog" class="inline-block border dark:border-dark_accent p-1 hover:bg-primary-700 active:bg-primary-700">See All Posts</a>
		</section>
	</main>
</PageLayout>
