---
const { posts } = Astro.props;
---
<style></style>
<ul>
    {
        posts.map((post: any) => (
            <li>
                <a href={`/posts/${post.id}/`}>{post.data.title}</a>
            </li>
        ))
    }
</ul>
