---
import Icon from "./Icon.astro";
---

<style></style>
<footer
    class="flex justify-between text-base items-center flex-wrap p-2 border-t border-primary-900"
>
    <div>© 2024 Rajdeep Dhillon</div>
    <ul class="flex">
        <li class="mx-1">
            <a
                href="https://github.com/rdhillon1016"
                target="_blank"
                class="fill-primary-200 hover:fill-primary-700"
            >
                <Icon type="github" class="w-7 h-7" />
            </a>
        </li>
        <li class="mx-1">
            <a
                href="mailto:tempemail@fictionaldomain.com"
                class="fill-primary-200 hover:fill-primary-700"
            >
                <Icon type="mail" class="w-7 h-7" />
            </a>
        </li>
        <li class="mx-1">
            <a
                href="/rss.xml"
                target="_blank"
                class="fill-primary-200 hover:fill-primary-700"
            >
                <Icon type="rss" class="w-7 h-7" />
            </a>
        </li>
    </ul>
</footer>
