---
import Icon from "./Icon.astro";
---
<style></style>
<footer>
    <div>© 2024 Rajdeep Dhillon</div>
    <ul>
        <li>
            <a href="https://github.com/rdhillon1016" target="_blank">
                <Icon type="github" />
            </a>
        </li>
        <li>
            <a href="mailto:tempemail@fictionaldomain.com">
                <Icon type="mail" />
            </a>
        </li>
    </ul>
</footer>
