---
import { FIRST_NAME, LAST_NAME } from "../constants.ts";

interface Props {
    pageType?: string;
}
const { pageType } = Astro.props;
---

<header
    class="flex dark:bg-primary-950 justify-between text-base items-center flex-wrap p-2 border-b dark:border-primary-900 sticky top-0 z-50"
>
    <div class="md:text-2xl font-medium text-lg dark:text-primary-50 mr-auto">
        {FIRST_NAME} {LAST_NAME}
    </div>
    <nav>
        <ul class="flex gap-1 items-center font-semibold">
            <li>
                <a
                    class={"rounded-full inline-block p-2 " +
                        (pageType === "home"
                            ? "dark:bg-dark_accent dark:text-primary-900"
                            : "dark:hover:bg-primary-700 dark:text-primary-400 dark:hover:text-primary-200")}
                    href="/">Home</a
                >
            </li>
            <li>
                <a
                    class={"rounded-full inline-block p-2 " +
                        (pageType === "blog"
                            ? "dark:bg-dark_accent dark:text-primary-900"
                            : "dark:hover:bg-primary-700 dark:text-primary-400 dark:hover:text-primary-200")}
                    href="/blog">Blog</a
                >
            </li>
        </ul>
    </nav>
</header>
