---
import Icon from "./Icon.astro";
---
<header class="flex justify-between m-4 gap-6 text-lg">
    <div class="text-base w-16">Rajdeep Dhillon</div>
    <nav>
        <ul class="flex gap-1">
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </nav>
    <div class="flex gap-1">
        <button>
            <Icon type="light_mode" />
        </button>
        <button>
            <Icon type="dark_mode" />
        </button>
    </div>
</header>
