---
import Icon from "./Icon.astro";
---
<style></style>
<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </nav>
    <button>
        <Icon type="light_mode" />
    </button>
    <button>
        <Icon type="dark_mode" />
    </button>
</header>
