---
import Icon from "./Icon.astro";
---
<style></style>
<header class="flex justify-center m-4 gap-4 relative">
    <nav>
        <ul class="flex">
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </nav>
    <div class="flex gap-1 absolute top-0 right-0">
        <button>
            <Icon type="light_mode" />
        </button>
        <button>
            <Icon type="dark_mode" />
        </button>
    </div>
</header>
