---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
interface Props {
    title: string;
    description: string;
    type: string
}
const { title, description } = Astro.props;
---

<html lang="en" class="dark dark:bg-neutral-950 dark:text-neutral-200">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <meta name="description" content={description} />
    </head>
    <body>
        <div class="mx-auto min-h-screen max-w-screen-md border border-neutral-900">
            <Header />
            <div class="p-2">
                <slot />
            </div>
            <Footer />
        </div>
    </body>
</html>
